<ion-content>
  <h1>Thank You Very Much!</h1>
  <div id='N1'>
    <ion-list>
      <ion-item>
        <p>Message 1</p>
      </ion-item>
      <ion-item>
        <p>Message 2</p>
      </ion-item>
      <ion-item>
        <p>Message 3</p>
      </ion-item>
      <ion-item>
        <p>Message 4</p>
      </ion-item>
      <ion-item>
        <p>Message 5</p>
      </ion-item>
      <ion-item>
        <p>Message 6</p>
      </ion-item>
      <ion-item>
        <p>Message 7</p>
      </ion-item>

      <ion-item>
        <p>Message 8</p>
      </ion-item>
      <ion-item>
        <p>Message 9</p>
      </ion-item>

      <ion-item>
        <p>Message 10</p>
      </ion-item>

      <ion-button id='back' (click)='back()' shape='square' color='primary'>Back To The Sign In Page</ion-button>
    </ion-list>
  </div>
</ion-content>