<ion-tabs>

  <ion-tab-bar slot="bottom" color='dark'>
    <ion-tab-button tab="feed">
      <ion-icon name="copy"></ion-icon>
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages" color='dark'>
      <ion-icon name="send"></ion-icon>
      <ion-label>messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="noctifications" color='dark'>
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Noctifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" color='dark'>
      <ion-icon name="cog"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>